  <div id="toPopup">

        <div class="close" onclick="exit()" onmouseover = "hoverOver()" onmouseout = "hoverOut()"></div>
       	<span class="ecs_tooltip" id = "ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
		<div id="popup_content"> <!--your content start-->
           Data Source is updated.
        </div> <!--your content end-->

    </div> <!--toPopup end-->

	<div class="loader"></div>
   	<div id="backgroundPopup"></div>